<div class="container" style="height: 100%;" > <!--Clase container de Bootstrap-->

  <hr />

  <div class="row">
    <!--
    Sección Acerca de
    -->
    <h1><strong>ACERCA DE MÍ</strong></h1>
    <h2>
    </h2>
  </div>

  <hr />

  <div class="row">
    <!--
    Sección Experiencia
    -->
    <h1><strong>EXPERIENCIA</strong></h1>
    <h2></h2>
  </div>

  <hr />

  <div class="row">
    <!--
    Sección Educación
    -->
    <h1><strong>EDUCACIÓN</strong></h1>
    <h2>

    </h2>
  </div>

  <hr />

  <div class="row">
    <!--
    Sección Hard & Soft Skills
    -->
    <h1><strong>HARD & SOFT SKILLS</strong></h1>
    <h2>

    </h2>
  </div>

  <hr />

  <div class="row">
    <!--
    Sección Proyectos
    -->
    <h1><strong>PROYECTOS</strong></h1>
    <h2>

    </h2>
  </div>
</div>
