<header class="row" style="margin-left: auto; margin-right: auto;">
  <!--
      Header del Portfolio Web
  -->
  <div class="col-2">
      <img src="assets/APLogo-20-20.png" id="logo">
  </div>

  <div class="col-6">

  </div>

  <!--Iconos de contacto-->
  <div class="col logo">
    <a href="pagnossinluca@gmail.com"><i class='bx bxl-gmail bx-lg'></i></a>
    <a href="https://github.com/PagnossinLuca"><i class='bx bxl-github bx-lg'></i></a>
  </div>

  <div class="col-2">
      <button id="login">LOGIN</button>
  </div>

</header>
